html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    width: 384px;
}

h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color: #747474;
}

a:link, a:visited {
    color: black;
    outline: 0;
    text-decoration: none;
}

img {
    width: 42px;
}

.modal-header {
    align-items: center;
    border-bottom: 0.5px solid #dadada;
}

.modal-content {
    padding: 0 22px;
}

.modal-icons {
    border-top: 0.5px solid #dadada;
    height: 50px;
    width: 100%;
}

.logo {
    padding: 16px;
}

.logo-icon {
    vertical-align: text-bottom;
    margin-right: 12px;
}

.version {
    color: #444;
    font-size: 18px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.flex {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    width: 120px;
}

.flex:hover {
    opacity: 0.4;
}

.flex .fa-globe{
    font-size: 35px;
    color: #E1306C;
}

.flex .fa-github{
    font-size: 35px;
    color: #211f1f;
}

.flex .fa-twitter{
    font-size: 35px;
    color: #1DA1F2;
}

.flex .fa-dev{
    font-size: 35px;
    color: #1A2634;
}

.flex .fa-linkedin{
    font-size: 35px;
    color: #0077B5;
}